@model FootballStore.Models.ApplicationUser
@{
    ViewBag.Title = "My Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        @Html.Partial("_UserDetailsPartial", Model)
        <dt>Password</dt>
        <dd>@Html.ActionLink("Reset your Password", "ResetPassword", "Account")</dd>
    </dl>
</div>

<p>@Html.ActionLink("Edit", "Edit", new { id = Model.Id })</p>