@{
    ViewBag.Title = "About";
}
<h3>About O Futebol</h3>

<p>
    O Futebol is an online football store for all your football needs.<br />
    We pride ourselves in selling only the best brands and products.<br />
    <br/>
    Web Development: ASP.NET MVC and Entity Framework project<br />
    Made by Gabriel Groff and Shelton Lai Lam<br />
</p>
