@{
    ViewBag.Title = "Contact";
}
<h3>Contact us</h3>

<address>
    One Massey Street<br />
    MasseyVerse, ALB 555<br />
    <abbr title="Phone">P:</abbr>
    0800.555.0001<br />
    <br />
    Developers: <br />
    - Gabriel Groff<br />
    - Shelton Lai Lam
</address>
