@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>O Futebol Online Football Store</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Content/homeimage1.jpg" height="250" width="350"/>
    </div>
    <div class="col-md-4">
        <img src="~/Content/homeimage2.jpg" height="250" width="350"/>
    </div>
    <div class="col-md-4">
        <img src="~/Content/homeimage3.jpg" height="250" width="350"/>
    </div>
</div>